@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
a,
button {
  font-family: "Segoe UI", "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #3F5D45;
}

a {
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input {
  border: none;
}

button:focus,
input:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* main container */
.container {
  max-width: 940px;
  margin: 0 auto;
}

/* font */
.serif-font {
  font-family: Georgia, "Noto Serif TC", serif;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.text-light {
  color: #EAF0ED;
}

.text-secondary-light {
  color: #8DA291;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-700 {
  font-weight: 700;
}

.line-height-small {
  line-height: 1.2;
}

/* icon */
.icon-28 {
  font-size: 28px;
}

.icon-20 {
  font-size: 20px;
}

/* color */
.background-light {
  background-color: #EAF0ED;
}

.background-dark {
  background-color: #3F5D45;
}

.accent-color {
  background: #FFE180;
}

.secondary-background-light {
  background-color: #8DA291;
}

/* main space */
.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-14 {
  padding-top: 14px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-14 {
  padding-bottom: 14px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }
}

@media (max-width: 568px) {
  .header {
    margin-bottom: 10px;
  }
}

.header h1 a {
  width: 220px;
  height: 40px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/student-week1/logo-all-dark.svg");
  text-indent: 101%;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .header h1 a {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/student-week1/logotype-lg-dark.svg");
    background-position: center;
    width: 150px;
  }
}

.hamburgerMenu {
  display: none;
  padding-right: 30px;
  padding-left: 0;
  background-color: transparent;
}

@media (max-width: 768px) {
  .hamburgerMenu {
    display: block;
    padding-left: 30px;
  }
}

@media (max-width: 568px) {
  .hamburgerMenu {
    width: 20%;
    padding: 10px 0;
  }
}

.hamburgerMenu:hover {
  background-color: #EAF0ED;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 45%;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    overflow: hidden;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.nav a {
  padding-right: 30px;
  padding-left: 30px;
}

.nav a:hover {
  background-color: #EAF0ED;
}

@media (max-width: 768px) {
  .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }
}

.cart {
  padding-right: 0;
  padding-left: 60px;
}

@media (max-width: 768px) {
  .cart {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 568px) {
  .cart {
    width: 20%;
    padding: 10px 0;
    text-align: center;
  }
}

.cart span:hover {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(-1) scale(1.5);
          transform: scaleX(-1) scale(1.5);
}

.subscribeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 940px) {
  .subscribeForm {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .subscribeForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribeForm label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

@media (max-width: 768px) {
  .subscribeForm label {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.subscribeForm label img {
  width: 40px;
  margin-right: 20px;
}

@media (max-width: 568px) {
  .subscribeForm label h2 {
    font-size: 20px;
  }
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .mail {
    width: 50%;
  }
}

@media (max-width: 568px) {
  .mail {
    width: 95%;
  }
}

.mail button {
  width: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mailIcon {
  position: absolute;
  top: 25%;
  left: 10px;
}

.mailInput {
  width: 315px;
  padding-right: 10px;
  padding-left: 45px;
  line-height: 28px;
  /*為了與 .mailIcon和 .mail button .material-icons等高 font-size: 28px;*/
}

@media (max-width: 768px) {
  .mailInput {
    width: 100%;
  }
}

.footerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 940px) {
  .footerMain {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .footerMain {
    width: 90%;
  }
}

.footerLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 940px) {
  .footerLink {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .footerLink {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact img {
  width: 172px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .contact img {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .socialMedia {
    margin-bottom: 20px;
  }
}

.socialMedia img {
  width: 32px;
}

.socialMedia li {
  margin-right: 10px;
}

.slogan {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-indent: -10px;
  padding-top: 10px;
  /*調回text-indent的距離*/
  letter-spacing: 6px;
}

@media (max-width: 768px) {
  .slogan {
    display: none;
  }
}

.decorativeLine {
  display: inline-block;
  width: 0;
  height: 48px;
  border-right: 1px solid #3F5D45;
}

@media (max-width: 568px) {
  .banner {
    margin-bottom: 20px;
  }
}

.banner img {
  width: 100%;
}

.mainProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 940px) {
  .mainProduct {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .mainProduct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mainProductList {
  width: 68%;
}

@media (max-width: 768px) {
  .mainProductList {
    width: 95%;
  }
}

.classifiedMenu {
  width: 32%;
}

@media (max-width: 768px) {
  .classifiedMenu {
    width: 100%;
    margin-bottom: 30px;
  }
  .classifiedMenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .classifiedMenu li {
    width: 50%;
  }
}

@media (max-width: 568px) {
  .classifiedMenu {
    margin-bottom: 10px;
  }
  .classifiedMenu li {
    width: 100%;
  }
}

.classifiedMenu h2 {
  text-align: center;
}

.classifiedMenu a {
  text-align: center;
}

.classifiedMenu a:hover {
  background-color: #EAF0ED;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  /* 30px-20px [已扣除.product li的 margin-bottom: 20px] */
}

@media (max-width: 768px) {
  .product {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 568px) {
  .product {
    margin-bottom: 0;
  }
}

.product li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 47%;
  margin-left: 3%;
}

@media (max-width: 768px) {
  .product li {
    width: 48.5%;
    margin-left: 0;
  }
}

@media (max-width: 568px) {
  .product li {
    width: 100%;
  }
}

.productImg {
  position: relative;
}

.productImg img {
  width: 100%;
}

.productDetails {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAF0ED;
}

.productDetails .name {
  text-align: center;
  width: 60%;
  border-right: 1px solid #EAF0ED;
}

.productDetails .price {
  text-align: center;
  width: 40%;
}

.product .addToCart {
  text-align: center;
}

.product .addToCart:hover {
  color: #EAF0ED;
  background-color: #3F5D45;
}

.like {
  position: absolute;
  top: 9px;
  /* 19-10 */
  right: 12px;
  /* 22-10 */
  padding: 10px 10px 20px 20px;
  /* 增加點擊範圍 top,right需減10px */
}

.like:hover {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(30deg) scale(1.5);
            transform: rotate(30deg) scale(1.5);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate(30deg) scale(1.5);
            transform: rotate(30deg) scale(1.5);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

.todaySpecial {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  left: 20px;
  top: 0;
  padding: 8px;
  letter-spacing: 3px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page li {
  width: 9.4%;
  /*47%(.product li的width)/5(.page li共有5個)=9.4%*/
}

@media (max-width: 768px) {
  .page li {
    width: 9.7%;
    /*48.5/5=9.7希望.page一直保持與.product li等寬*/
  }
}

@media (max-width: 768px) {
  .page li {
    width: 20%;
  }
}

.page a {
  border: solid 1px #EAF0ED;
  text-align: center;
  padding: 16px;
}

.pageNum:hover {
  color: #EAF0ED;
  background-color: #3F5D45;
}

.page .front:hover {
  background-color: #EAF0ED;
}

.page .back:hover {
  background-color: #EAF0ED;
}

.mainInvoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 780px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .mainInvoice {
    max-width: 720px;
  }
}

.invoice {
  width: 55%;
}

@media (max-width: 568px) {
  .invoice {
    width: 100%;
    margin-bottom: 20px;
  }
}

.invoiceContainer {
  padding-right: 40px;
  padding-left: 40px;
}

@media (max-width: 768px) {
  .invoiceContainer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.invoiceTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invoice h2 {
  font-size: 36px;
  letter-spacing: 3px;
}

.invoiceType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invoiceType li {
  width: 50%;
}

.invoiceType li button {
  width: 100%;
  border: 1px solid #EAF0ED;
}

.invoiceInput button {
  width: 100%;
  letter-spacing: 3px;
}

.procedure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.procedureLine {
  width: 65px;
  height: 0;
  border-bottom: 1px solid #EAF0ED;
}

.procedure .outerCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.procedure .innerCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #EAF0ED;
}

.btn-active {
  color: #3F5D45;
  background-color: #EAF0ED;
}

.InputEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.InputEmail .email {
  padding-left: 20px;
  padding-right: 20px;
}

.InputEmail .email::-webkit-input-placeholder {
  color: #8DA291;
}

.InputEmail .email:-ms-input-placeholder {
  color: #8DA291;
}

.InputEmail .email::-ms-input-placeholder {
  color: #8DA291;
}

.InputEmail .email::placeholder {
  color: #8DA291;
}

.InputTaxIDnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.InputTaxIDnumber .taxIDnumber {
  padding-left: 20px;
  padding-right: 20px;
}

.InputTaxIDnumber .taxIDnumber::-webkit-input-placeholder {
  color: #8DA291;
}

.InputTaxIDnumber .taxIDnumber:-ms-input-placeholder {
  color: #8DA291;
}

.InputTaxIDnumber .taxIDnumber::-ms-input-placeholder {
  color: #8DA291;
}

.InputTaxIDnumber .taxIDnumber::placeholder {
  color: #8DA291;
}

.orderList {
  width: 42%;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .orderList {
    width: 45%;
  }
}

@media (max-width: 568px) {
  .orderList {
    display: none;
  }
}

.orderListContainer {
  padding-left: 20px;
  padding-right: 20px;
}

.orderList h2 {
  text-align: center;
}

.orderListAbstract {
  border: solid 1px #EAF0ED;
}

.orderListAbstract li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orderListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orderListItem img {
  width: 55%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.shoppingList {
  border: solid 1px #EAF0ED;
}

.shoppingListDetail {
  width: 40%;
}
/*# sourceMappingURL=all.css.map */